#scale_test {
    width:500px; padding:50px 0;
    border-radius:40px;
    margin:250px auto;
    border:2px dashed brown;
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
}
#scale_test .img_scale {
    width:24px;
    margin-bottom:10px;
}
#scale_test .img_scale img {width:100%;}
#scale_test h1 {
    font-size:2rem;
    margin-bottom:30px;
}
#scale_test #height_input {
    width:300px;
    height:50px;
    margin-bottom:10px;
    padding-left:10px;
    border:1px solid black;
}
#scale_test #weight_input {
    width:300px;
    height:50px;
    margin-bottom:20px;
    padding-left:10px;
    border:1px solid black;
}
#scale_test .result {
    color:brown;
    margin-bottom:20px;
}
#scale_test #result_reset {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
#scale_test #result_reset #result_btn {
    width:120px;
    height:50px;
    background:brown;
    margin-right:15px;
    border-radius:10px;
    color:#fff;
}
#scale_test #result_reset #result_btn:hover {
    background:darkred;
}
#scale_test #result_reset #reset_btn {
    width:120px;
    height:50px;
    background:#eee;
    border-radius:10px;
    font-weight:500;
}
#scale_test #result_reset #reset_btn:hover {
    background:#222;
    color:#fff;
}